@import url('../App.css');


/* -- Code of section  */

.mainCon {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  background-color:  var(--primary-color);
}

.con {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 6em;
  color: gray;
  position: relative;
  margin-bottom: 5px;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
  animation: animate 8s linear infinite;
  filter: drop-shadow(0 0 20px white) drop-shadow(0 0 50px white);
}

@keyframes animate {
  0%,10%,100%{
    width: 0%;
  }
  70%,90%{
    width: 100%;
  }
}

h2{
  display: flex;
  justify-content: center;
  color: rgb(192, 192, 192);
  margin-bottom: 1px;
}

h3{
  display: flex;
  justify-content: center;
  color: rgb(240, 240, 240);
  margin: 0;
}
.Heading2{
  color: var(--front-color);
}